body {
	margin: 0px !important;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
}

h1 {
	font-size: 20px;
	color: #0e74af;
}

a {
	text-decoration: none;
}

#header {
	background: #009688;
	height: 40px;
}

#bodyy {
	overflow: hidden;
	width: 100%;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
}

#footer {
	height: 20px;
}

#right_panel {
	position: fixed;
	float: right;
	margin-left: 40px;
	margin-right: 70px;
	margin-top: 20px;
	width: 300px;
	min-width: 300px;
}

.header_logo {
	float: left;
	margin: 11px 10px;
	color: white;
	font-weight: bold;
	opacity: 0.95;
	height: 18px;
}

.header_menu {
	float: left;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	height: 100%;
	margin-left: 10px;
}

.header_menu_item {
	padding-top: 14px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 5px;
	color: white !important;
}

.header_menu_item:hover {
	color: silver !important;
	text-decoration: none;
	cursor: pointer;
}

.header_accPro {
	float: right;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	height: 100%;
	margin-right: 10px;
}

.header_accPro_item {
	position: relative;
	top: 12px;
	color: white !important;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 3px;
	background: rgba(255, 255, 255, .3);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0,
		rgba(255, 255, 255, .2) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0,
		rgba(255, 255, 255, .2) 100%);
}

.header_accPro_item:hover {
	background: silver !important;
	text-decoration: none;
	cursor: pointer;
}

.header_accPro_img {
	border-radius: 20px;
	width: 32px;
	/* border: 1px silver solid; */
	float: left;
	margin-right: 8px;
	margin-top: 3px;
}

.slidebar {
	float: left;
	width: 330px;
}

.slidebar_background {
	float: left;
	width: 100%;
	height: 603px; 
	background : #009688;
	text-align: center;
	position: relative;
	background: #009688;
}

.slidebar_anchor {
	color: white !important;
	cursor: pointer;
	margin-top: 40px;
}

.slidebar_trademark {
	color: white;
	line-height: 1.5;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	position: absolute; bottom : 20px;
	left: 0px;
	bottom: 20px;
}

.content {
	float: left;
	width: 100%;
	overflow: auto;
	display: flex;
}

.tl {
	font-size: 14px;
	color: #0e74af;
	font-weight: bold;
	text-transform: uppercase;
}

.ex {
	color: gray;
	margin-left: 15px;
}

.fon39 h5 {
	color: #0e74af;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.blogs_exist {
	padding-left: 20px;
	margin-left: 10px;
}

.fon39 {
	border-top: solid 1px silver;
}