body {
	margin: 0px !important;
}

#header {
	background: #0e74af;
	height: 40px;
}

#bodyy {
	overflow: hidden;
	width: 100%;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
}

#footer {
	height: 20px;
}

#right_panel {
	float: right;
	margin-left: 40px;
	margin-right: 70px;
	margin-top: 20px;
	width: 300px;
	min-width: 300px;
}

.content {
	float: left;
	width: 30%;
	min-width: 270px;
	max-width: 280px;
}

.header_logo {
	float: left;
	margin: 11px 10px;
	color: white;
	font-weight: bold;
	opacity: 0.8;
	height: 18px;
}

.header_menu {
	float: left;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	height: 100%;
	margin-left: 10px;
}

.header_menu_item {
	padding-top: 11px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 5px;
	color: white !important;
}

.header_menu_item:hover {
	color: silver !important;
	text-decoration: none;
	cursor: pointer;
}

.header_accPro {
	float: right;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	height: 100%;
	margin-right: 10px;
}

.header_accPro_item {
	position: relative;
	top: 12px;
	color: white !important;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 3px;
	background: rgba(255, 255, 255, .3);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0,
		rgba(255, 255, 255, .2) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0,
		rgba(255, 255, 255, .2) 100%);
}

.header_accPro_item:hover {
	background: silver !important;
	text-decoration: none;
	cursor: pointer;
}

.editor_content{
	float: left;
	width: 100%;
	overflow: auto;
	display: flex;
}

.header_accPro_img {
	border-radius: 20px;
    width: 32px;
    /* border: 1px silver solid; */
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}