body, html, #content, .avatarBlog img {
	height: 100%
}

#btsearch, #mfooter, #notfoundVoca, .header_table, .VocaEditorTool_Obj11,
	.actionForm, .avatarBlog, .table-cell, figure, p img {
	text-align: center
}

a, a:active, .VocaEditorTool_Obj6:hover {
	text-decoration: none !important
}

html {
	font-size: 13px !important;
	box-sizing: border-box
}

p img {
	width: 100% !important;
	margin: auto
}

body {
	margin: 0 !important;
	color: #404040 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 15px !important;
	line-height: 1.5em !important;
	background: #fff !important;
	min-width: 320px !important;
	overflow-x: hidden
}

.VocaEditorTool_Obj2, .VocaEditorTool_Obj7 {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 700
}

#mfooter, .header_w, .actionForm, .cssDialogBox_clean {
	width: 100%
}

#mfooter {
	font-weight: 700;
	padding-bottom: 5px;
	height: 25px;
	background-color: rgba(48, 27, 12, 1);
	color: #fff
}

.header_w {
	height: 40px;
	padding: 4px 0;
	background: #009688;
	box-shadow: 0 0 3px #009688
}

.header {
	padding: 0 12px 0 0
}

.left_header {
	width: 45px
}

.right_header_w {
	margin-left: 45px
}

.right_header {
	border-radius: 10px;
	height: 28px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(252, 250, 250, .7);
	margin-top: 5px
}

#menuBtn {
	padding: 7px 12px 12px;
	color: white;
	font-size: 1.5em
}

#btsearch {
	width: 40px;
	float: right;
	font-size: 1.1em;
	padding-top: 6px
}

#inputsearch {
	width: 85%;
	margin: 0 10px
}

#txt_valueSearch {
	margin-top: 1px;
	height: 27px;
	color: #fff !important;
	background-color: #fff;
	border: 0
}

input#txt_valueSearch {
	border: none;
	padding: 1px 1px 0;
	height: 27px !important;
	width: 100%
}

button.fa.fa-search {
	background-color: #fff;
	border: none;
	padding: 0
}

input.gwt-TextBox {
	background-color: #fff;
	border: none;
	outline: 0
}

.txt_valueSearch input {
	border: none
}

.main_title {
	margin-top: 4px;
	font-size: 1.5em;
	line-height: 1.3em;
	color: #fff
}

#main {
	min-height: calc(100% - 88px)
}

#content {
	margin: 0 10px;
	position: relative;
	overflow: hidden
}

figure, .header_w, .table-app {
	margin: auto
}

figure.image img {
	width: 100% !important;
	height: auto !important
}

h1 {
	font-size: 1.8rem;
	line-height: 1.8rem;
	display: inline-block;
	margin: 0 10px 0 0
}

.list-mean {
	padding-left: 10px
}

#menu {
	display: none;
	padding-top: 46px
}

#menu ul {
	left: 0;
	font-size: 20px;
	background-color: #80CBC4;
	position: absolute;
	right: -10px;
	top: 47px;
	list-style-type: none;
	z-index: 6;
	padding: 0;
	margin: 0;
	box-shadow: 0 12px 12px -4px gray
}

#menu ul li a {
	width: 90%;
	color: #fff;
	display: block
}

.MTestTool_Obj5, .table-cell {
	display: inline-block;
	cursor: pointer
}

.htmlIntroTest {
	margin-top: 20px
}

.MTestTool_Obj11 {
	margin-top: 10px !important;
	float: right;
	background: #009688;
	padding: 10px 0px;
	border-right: 1px silver solid;
	color: white;
	width: 100%;
	margin: auto;
	text-align: center;
}

.MTestTool_Obj12 {
	background: white;
	border: 10px solid rgba(0, 150, 136, 0.6);
	box-shadow: 2px 3px 5px #999;
	width: 75%;
}

.MTestTool_Obj12 table {
	width: 100%;
}

.MTestTool_Obj11:hover {
	background: silver;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.i_testtool_vocaq {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #eafd74
}

.i_testtool_vocaLv {
	font-weight: bold;
	color: white;
	margin-top: 30px
}

.i_testtool_btnForm {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70%;
	height: 100%
}

.i_testtool_info {
	color: #009688;
	font-weight: bold;
	margin: 25px 0 0 20px;
	text-align: center;
}

.i_testtool_checkTotal {
	float: right;
	font-weight: bold;
	color: forestgreen;
	margin-right: 0px;
}

.i_testt_controlPanel {
	text-align: center;
	white-space: nowrap;
	margin-bottom: 60px;
}

.MTestTool_Obj1 {
	padding: 20px;
	background-color: lemonchiffon;
	line-height: 1.5;
}

.MTestTool_Obj3 {
	background: forestgreen;
	padding: 10px 20px;
	border-right: 1px silver solid;
	color: white;
	margin-top: 10px;
}

.MTestTool_Obj3:hover {
	background: silver;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.quest_v {
	font-size: 16px;
	font-weight: bold;
	color: #eafd74;
	float: right;
	border-radius: 50%;
	background: tomato;
	padding:4px 12px 0px;
	height: 25px;
}

.todo {
	width: 95%;
	text-align: center;
}

#shareResult {
	background-color: #3b5998;
	padding: 10px 20px 0px 20px;
	cursor: pointer;
	height: 40px;
	text-align: center;
	border-radius: 2px;
	font-size: 20px;
	color: white;
}

.btn_replay {
	/* width: 13%;
    float: right; */
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	font-size: 19px !important;
	padding: 11px 10px 14px 10px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	color: #fff !important;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn_replay:HOVER {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.fb_f {
	vertical-align: text-bottom;
	border: none;
}

}
#menu ul li a i {
	color: #fff;
	margin-right: 10px
}

.m_menu_help_b {
	border-bottom: solid 1px gray
}

#menu li {
	height: 50px;
	padding: 0 20px 0 10px;
	line-height: 50px
}

.header_table {
	position: relative;
	font-size: 22px;
	font-weight: 700;
}

.skill-table {
	margin: 20px auto 0;
	padding: 0
}

.skill-table tr {
	width: 100%
}

.table-cell {
	height: 50px;
	width: 130px;
	background: #009688;
	border-radius: 3px;
	color: #fff;
	padding: 10px 5px;
	white-space: normal;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

.table-cell:hover {
	background: 0 0
}

.mainMTestTool {
	width: 600px;
	margin: 20px auto 60px
}

.MTestTool_Obj5:hover {
	background: tomato
}

.MTestTool_Obj5 {
	width: 140px;
	padding: 10px 10px 5px;
	background: #5A5A5A;
	margin: 20px 15px 10px 0;
	position: relative;
	border-radius: 10px;
}

.actionForm {
	margin: 20px 0 30px
}

#notfoundVoca {
	margin-top: 10px
}

@media ( max-width :319px) {
	#inputsearch {
		width: 60%
	}
	.table-cell {
		width: 120px
	}
	.mainMTestTool {
		width: 300px
	}
	a.MTestTool_Obj2 {
		margin-bottom: 20px
	}
	.MTestTool_Obj5 {
		width: 95px;
		margin: 10px 5px
	}
	.result_score {
		font-size: 40px !important;
		margin: -40px 0 -40px !important;
	}
}

@media ( min-width :320px) and (max-width:420px) {
	#inputsearch {
		width: 67%
	}
	.mainMTestTool {
		width: 300px
	}
	.MTestTool_Obj5 {
		width: 110px;
		margin: 10px 5px;
	}
	.result_score {
		font-size: 50px !important;
		margin: -50px 0 -50px !important;
	}
}

@media ( min-width :421px) and (max-width:520px) {
	#inputsearch {
		width: 75%
	}
	.table-cell {
		width: 140px
	}
	.skill-table {
		border-spacing: 30px 20px
	}
	.mainMTestTool {
		width: 400px
	}
	.MTestTool_Obj5 {
		width: 120px;
		margin: 10px 20px
	}
	.result_score {
		font-size: 60px !important;
		margin: -50px 0 -50px !important;
	}
}

@media ( min-width :521px) and (max-width:600px) {
	#inputsearch {
		width: 80%
	}
	.table-cell {
		width: 150px;
		font-size: 16px;
		height: 60px
	}
	.skill-table {
		border-spacing: 30px 10px
	}
	.mainMTestTool {
		width: 500px
	}
	.MTestTool_Obj5 {
		width: 120px;
		margin: 10px
	}
	.result_score {
		font-size: 70px !important;
		margin: -40px 0 -40px !important;
	}
}

@media ( min-width :601px) and (max-width:767px) {
	#inputsearch {
		width: 84%
	}
	.table-cell {
		height: 70px;
		width: 200px;
		font-size: 17px
	}
	.skill-table {
		border-spacing: 40px 20px
	}
	.mainMTestTool {
		width: 590px
	}
	.MTestTool_Obj5 {
		width: 130px;
		margin: 10px
	}
	.result_score {
		font-size: 80px !important;
	}
}

@media ( min-width :768px) {
	#inputsearch {
		width: 88%
	}
	.table-cell {
		height: 70px;
		width: 200px;
		font-size: 17px
	}
	.skill-table {
		border-spacing: 40px 20px
	}
	.mainMTestTool {
		width: 590px
	}
	.MTestTool_Obj5 {
		margin: 10px
	}
}

.VocaEditorTool_Obj1 {
	background: #009688;
	padding: 7px 15px;
	border: 1px solid silver;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px
}

.VocaEditorTool_Obj1:hover {
	background: silver;
	cursor: pointer
}

.VocaEditorTool_Obj2 {
	font-size: 13px;
	margin-right: 20px;
	width: 150px
}

.VocaEditorTool_Obj3 {
	margin-bottom: 10px
}

.VocaEditorTool_Obj4 {
	width: 400px;
	height: 26px;
	padding-left: 5px;
	border: 1px solid #b6b6b6;
	box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.VocaEditorTool_Obj5 {
	position: relative;
	top: 10px
}

.VocaEditorTool_Obj6:hover {
	color: silver !important;
	cursor: pointer
}

.VocaEditorTool_Obj7 {
	font-size: 15px;
	margin-bottom: 24px
}

.VocaEditorTool_Obj8 {
	width: 400px;
	margin-left: -5px
}

.VocaEditorTool_Obj9 {
	margin-top: 20px
}

.VocaEditorTool_Obj10 {
	color: gray
}

.VocaEditorTool_Obj11 {
	width: 130px;
	padding: 5px;
	background: silver;
	margin: 5px 0
}

.VocaEditorTool_Obj11:hover {
	background: tomato;
	color: #fff;
	cursor: pointer
}

.VocaEditorTool_Obj12 {
	padding-bottom: 30px
}

#blogs ul, .avatarBlog, .nameBlog, .publishdate {
	padding-bottom: 10px
}

.table-app div, .avatar, #inputsearch, .vdict_avatar img, .left_header,
	i_vocaq {
	float: left;
}

.table-app div {
	margin: 15px 10px 0 0
}

.appstore {
	width: 130px;
	height: 50px;
	cursor: pointer
}

.tl {
	font-size: 14px;
	color: #0e74af;
	font-weight: 700
}

.ex {
	color: gray;
	margin-left: 15px
}

.nameBlog, .mblog_install_app, #mfooter {
	padding-top: 10px
}

.nameBlog h1 {
	font-size: 1.6rem
}

.publishdate {
	font: 13px/1.3 arial;
	color: #888
}

.avatarBlog img {
	width: 50%
}

.nameBlog h1, .fon39 h5, .VocaEditorTool_Obj1:hover {
	color: #009688
}

#blogs ul {
	padding-left: 0 !important;
	border-bottom: 1px solid #E6E9EB
}

#blogs ul li {
	display: block;
	overflow: hidden;
	padding: 5px 0;
	margin-top: 10px;
	border-top: 1px solid silver
}
/*css for score of test voca*/
.result_score {
	font-family: Impact, 'Arial Narrow', Helvetica, Arial, sans-serif;
	font-size: 90px;
	line-height: 135px;
	color: #000;
	margin: -29px 0 -19px;
	text-align: center;
	padding: 10px;
	color: #333;
}

.box {
	display: inline-block;
	background: #eee;
	margin-top: 20px;
	margin-bottom: -4px;
	padding: 29px;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;
	border-radius: 33px;
}

.vdict_avatar {
	display: block;
	overflow: hidden;
	color: black !important;
}

.vdict_avatar img {
	width: 85px;
	height: 85px;
	margin: 5px 10px 0 0
}

.vdict_avatar h3 {
	margin: 0 0 15px 0
}

p {
	text-align: justify;
	color: #333;
	line-height: 150%;
	font-size: 17px;
	margin-top: 0
}

.embeddedContent {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	float: none !important;
	margin: 5px 0
}

a#showComment {
	border-radius: 10px;
	margin-bottom: 20px;
}

.embeddedContent embed, .embeddedContent iframe, .embeddedContent object
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mblog_install_app {
	font-style: italic;
	font-size: medium;
}

.fon39 h5 {
	font-size: 18px;
	margin: 10px 0
}

ul.blogs_exist {
	padding-left: 20px;
	margin-left: 10px
}

.fon39 {
	border-top: solid 1px silver
}

.cssDialogBox_clean {
	position: inherit !important
}

.gwt-TabBarItem-wrapper {
	width: 34%;
}

.gwt-TabBar {
	background: #80CBC4 !important;
}

.gwt-TabBar .gwt-TabBarItem {
	background: #009688 !important;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	background: white !important;
}